
    <title>login-link</title>
    <link rel="stylesheet" href="static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <img src="static/eduuS.png" alt="Logo" style="height:175px; vertical-align:middle; margin-left: -170px; margin-bottom: 50px;">

    <meta namr('static', filename='eduuS') }}" alt="Logo" style="height:175px; vertical-align:middle; margin-left: -1000px;">


        <div class="form-card">
            <h2>Login</h2>
            <form action="/login" method="post">
                <div class="input-group">
                    <label for="username">USERNAME</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="input-group">
                    <label for="password">PASSWORD</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
               
                <button type="submit" class="register-button">Login</button>
            </form>
            <div class="login-link">
                ยังไม่มีบัญชี? <a href="/register">สมัครสมาชิก</a>
            </div>
        </div>
    </div>
</body>
</html>